.listCardContainer {
  display: flex;
  gap: 0.5rem;
}
.noteCard {
  color: white;
  min-width: 15rem;
  padding: 1rem 0.5rem;
  max-width: 8rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  white-space: normal;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
