.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
}
@media screen and (max-width: 768px) {
  .Main {
    padding: 3rem 0;
    height: 100%;
  }
}
